@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  box-sizing: border-box;
}

:root {
  --navbar-height: 137px;
}

h1 {
  font-size: clamp(2rem, 10vw, 3rem);
  font-weight: bold;

}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: clamp(1.5rem, 7vw, 2rem);
  font-weight: 300;
}

@theme {
  --color-primary: #1E293B;
  --color-secondary: #64748B;
  --color-accent: #FACC15;
  --color-bg: #F8FAFC;
  --color-text: #0F172A;

  --color-dark-bg: #0F172A;
  --color-dark-text: #F8FAFC;
  --color-dark-primary: #334155;
  --color-dark-secondary: #94A3B8;
}

@layer base {
  .default-container {
    @apply px-4 lg:px-[80px] xl:px-[150px] 2xl:px-[250px] py-6
  }

  .navbar-space {
    margin-top: var(--navbar-height);
  }

  .sections-gap {
    gap: 6rem;
  }
}

@layer utilities {
  .section-header {
    font-size: 2.25rem;
    font-weight: bolder;
  }

  .line {
    height: 1px;
    opacity: 0.8;
  }

  .header-line {
    height: 4px;
    opacity: 0.8;
  }

  .glow-dark {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow:
      0 0 150px 90px #fff,
      /* inner white */
      0 0 220px 150px #f0f,
      /* middle magenta */
      0 0 300px 220px #0ff;
    /* outer cyan */
  }
}