@import "tailwindcss";

* {
  box-sizing: border-box;
}

h1 {
  color: var(--color-text);
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color : var(--color-text);
  font-size: 1.5rem;
}

h3 {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 300;
}

@theme {
  --color-primary: #1E293B;
  --color-secondary: #64748B;
  --color-accent: #FACC15;
  --color-bg: #F8FAFC;
  --color-text: #0F172A;
}

@layer base {
  .default-container {
    @apply px-4 lg:px-[120px] xl:px-[200px] 2xl:px-[250px] py-4
  }
}
